<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DatabaseLayer.Properties.Settings>
            <setting name="myServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="myDatabase" serializeAs="String">
                <value>novafis</value>
            </setting>
            <setting name="myUser" serializeAs="String">
                <value>novafis</value>
            </setting>
            <setting name="myPwd" serializeAs="String">
                <value>novafis</value>
            </setting>
            <setting name="myCharset" serializeAs="String">
                <value>utf8</value>
            </setting>
            <setting name="myIntSecurity" serializeAs="String">
                <value>False</value>
            </setting>
        </DatabaseLayer.Properties.Settings>
    </applicationSettings>
</configuration>